* {
	margin: 0;
	padding: 0;
}
.wrapper {
	background-color: #f9f9f9;
}
.wrapper .top {
	color: #666;
	font-size: .875rem;
}
.menu-solid  li ~ :before {
	content: "|";
	padding: 0 1rem;
}
.menu-solid  li a {
	text-decoration: none;
	color: #666;
}
.menu-solid  li a:hover {
	color: #ffb4b1;
}
.dropdown-menu {
	font-size: .875rem;
	padding: 1rem;
	border-top: none;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}
.wrapper .top .select-switch .dropdown-menu img {
	width: 2rem;
	height: 1rem;
}
.wrapper .header .header-content{
	background-color: #fff;
}
.circle {
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 50%;
	background-color: #ffb4b1;
	text-decoration: none;
	color: #fff;
	transition: all 0.3s;
}
.navbar-brand span {
	color: #ffb4b1;
}
.navbar-nav .nav-item:hover {
	border-top: 3px solid #ffb4b1;
}
.circle:hover {
	background-color: #322c29;
	color: #fff;
}
.bag .dropdown .dropdown-menu {
	min-width: 15rem;
	border-top: 5px solid #ffb4b1;
	margin-top: 1rem;
	font-size: .875rem;
}
.bag .dropdown .dropdown-menu:before {
	content: '';
    position: absolute;
    top:-0.9rem;
    display: block;
    width: 0;
    height: 0;
    border-bottom: 10px solid #ffb4b1;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.slider .image-item {
	height: 90vh;
	background-position: center;
	
}
.slider .carousel ol {
	background-color: #f9f9f9;
	margin: 0;
}
.slider .carousel-indicators li {
	background-color: #ffb4b1;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
}
.carousel-controls a{
	font-size: 5rem;
	text-decoration: none;
	transition: color 0.3s;
}
.carousel-controls a:hover {
	color: #000;
}
.carousel-item:nth-child(1) .carousel-caption:nth-child(1){
	bottom: 50%;
}
.carousel-item:nth-child(1) .carousel-caption img{
	position: absolute;
	right: 25%;
	top: -30%;
}
.carousel-item:nth-child(2) .carousel-caption{
	bottom: 50%;
	right: -40%;
}
.carousel-item:nth-child(3) .carousel-caption{
	bottom: 50%;
	left: -40%;
}
.wrapper .btn-pink{
	transition: all 0.3s;
	box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.wrapper .btn-pink:hover {
	background-color: #ffb4b1;
	color: #fff; 
}
.banner {
	position: relative;
	width: 428px;
	border: 0.5rem solid #fff;
	box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
	box-sizing: border-box;
	transition: border 0.3s;
} 
.banner:hover {
	border: 1rem solid #fff;
	box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.4);
}
.banner:nth-child(1) .img-caption {
	padding: 0;
	width: 20rem;
	position: absolute;
	top: 0px;
	right: 0px;
}
.banner:nth-child(2) .img-caption {
	padding: 0;
	width: 20rem;
	position: absolute;
	top: 0px;
	left: 0px;
}
.nav-tabs .nav-item .nav-link {
	color: rgba(0, 0, 0, 0.67);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	border-bottom: 3px solid #ffb4b1 !important; 
	background-color: #f9f9f9 !important;
}
.tab-content{
	min-height: 30rem;
}
.group-card .card {
	max-width: 15rem;
	border: 0.2rem solid #fff;
}
.group-card .card .hover:before {
	content: '$234.00';
    position: absolute;
    top: 8rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #fff;
    width: 0;
    height: 0;
    z-index: 1;
    border: 3rem solid #ffb4b1;
    border-radius: 50%;
}
.group-card .card .hover{
	display: none;
}
.group-card .card:hover .hover {
	display: block;
}
.group-card .card:hover .regular {
	display: none;
}
.card-body .regular span {
	color: #ffb4b1;

}
.swatch-list .swatch-label{
	width: 1rem;
	height: 1rem;
	border-radius: 20%;
	margin: 0 0.2rem;
}
.hover .btn i {
	margin: 0 1rem;
	font-size: 1.2rem;
	color: #ffb4b1;
	transition: color 0.3s;
}
.hover .btn:hover i{
	color: #000;
}
.hover .add-link {
	box-shadow: inset 0px 5px 6px -4px rgba(0, 0, 0, 0.15);
	padding: 1rem 0;
	width: 100%; 
}
.hover .card-link {
	text-decoration: none;
	color: #000;
	font-size: 0.75rem;
}
.hover .card-link .plush {
	transition: all 1s ease-in-out;
	color: #ffb4b1;
}
.hover .card-link:hover .plush {
	transform: rotate(180deg);
	color: #000;
}
.hover .card-link:hover {
	color: #000 !important;
}
.card .hover .strar-list i{
	font-size: 1rem;
	color: yellow;
}
.card-sale:before {
	content: 'SALE';
    position: absolute;
    top: 0.5rem;
    right: -2rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: #fff;
    z-index: 1;
    border-bottom: 2rem solid #01b901;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    height: 1rem;
    width: 7rem;
    transform: rotate(45deg);
    }
.card-new:before {
	content: 'new';
    position: absolute;
    top: 0.5rem;
    left: -2rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: #fff;
    z-index: 1;
    border-bottom: 2rem solid #fb4b4b;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    height: 1rem;
    width: 7rem;
    transform: rotate(-45deg);
}
.full-width-banner {
	position: relative;
	width: 100%;
	height: 530px;
	background-image: url(../img/bg_fullwidth.jpg);
	background-size: cover;
}
.new-products {
	min-height: 32rem;
}
.three-icon *{
	margin-bottom: 1.5rem; 
}
.three-icon i {
	font-size: 4rem;
	color: #ffb4b1;
}
.three-icon a {
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	color: #ffb4b1 !important;
}
.three-icon .icon:hover {
	opacity: 0.65;
}
.people .one-half {
	background-color: #fff;
	border-top:1rem solid #ffb4b1;
	padding: 3rem;
}
.people .one-half .ava {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background-image: url(../img/ava.png);
}
.people .one-half .ava1 {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background-image: url(../img/ava1.png);
	background-position: center;
}
.people .one-half a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5rem;
}
.people .one-half a:hover{
	color: #000 !important;
}
.footer {
	margin-top: 10rem;
	background-color: #f5f5f5;
}
.footer .footer-banner {
	padding: 5rem 0rem;
}
.footer .footer-banner .one-third .icon-border {
	width: 5rem;
	height: 5rem;
	font-size: 2rem;
	background-color: transparent;
	border: 0.2rem solid #aaa;
	color: #aaa; 
	border-radius: 50%;
	margin-right: 1rem;
}
.footer .footer-banner .one-third:hover {
	opacity: 0.5;
}
.one-third + .one-third {
	margin-bottom: 2rem;
}
.footer-info {
	background-color: #f1f1f1;
	padding: 4rem 0rem;
	font-size: 0.75rem;
}
.footer-info .list-group {
	padding: 1rem 0;
}
.footer-info .list-group-item {
	background-color: transparent;
	word-wrap: normal;
	display: flex;
	padding: 0.5rem 0;
}
.footer-info .list-group-item a {
	text-decoration: none;
	color: #ff5857;
}
.footer-info .list-group-item a:hover {
	color: #000;
}
.footer-info .icon-twitter {
	width: 2.2rem;
	height: 2.2rem;
	background-color: #ffb4b1;
	border-radius: 50%;
	color: #fff;
	margin-right: 1rem;
	transition: all 0.3s;
}
.footer-info .list-group-item:hover .icon-twitter{
	background-color: #000;
}
.footer-info .list-group-item p {
	border-bottom:0.1rem solid rgba(0,0,0,0.06);
}
.footer-info .list-group .circle-list {
	padding-left: 1.5rem;
}
.footer-info .list-group .circle-list:before {
	content: '';
    position: absolute;
    top: 1rem;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #ffb4b1;  
}
.footer-info .list-group .icon-contact{
	margin-right: 1rem;
}
.footer-info .list-group .contact-link {
	min-height: 3rem;
}
.footer-info .list-group .contact-link .circle{
	width: 2.2rem;
	height: 2.2rem;
}
.contact-link a + a{
	margin-left: 0.5rem;
}
.contact-link a{
	color: #fff;
	font-size: 1rem;
}

